.HotelCards {
  background-color: #f6f6f6;
  margin: 2em auto;
  padding: 12px;
  max-width: 1024px; }
  .HotelCards .HotelCard {
    margin: 0 1em 4em 1em;
    border: 1px solid black;
    box-shadow: -12px 12px 10px 0 rgba(87, 71, 81, 0.2);
    border-radius: 10px;
    text-align: center;
    padding-bottom: 2em; }
    .HotelCards .HotelCard .Hotel-image {
      max-width: 100%;
      border-top-right-radius: 10px;
      border-top-left-radius: 10px; }
    .HotelCards .HotelCard .Hotel-title {
      margin: 12px auto;
      font-weight: bold; }

.HotelCards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .HotelCards .HotelCard {
    flex: 0 1 29%; }
